.hideScrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
.hideScrollbar {
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;  /* for Firefox */
}

.scrollContainer {
    scroll-behavior: smooth;
}

.buttonLeftOverlay::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%; /* Start the gradient right after the button */
    width: 50px; /* Width of the transparent effect */
    background: linear-gradient(to left, transparent, #FAF3E0);
    pointer-events: none;
}

.buttonRightOverlay::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%; /* Start the gradient right before the button */
    width: 50px; /* Width of the transparent effect */
    background: linear-gradient(to left, #FAF3E0, transparent);
    pointer-events: none;
}