@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-custom-beige;
}

/* styles/global.css */
.underline-custom-mint-green:hover {
    text-decoration: underline;
    text-decoration-color: #8BC34A; 
    text-decoration-thickness: 3px; 
    text-underline-offset: 6px;
  }
  