@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-custom-beige;
}

/* styles/global.css */
.underline-custom-mint-green:hover {
    text-decoration: underline;
    text-decoration-color: #8BC34A; 
    text-decoration-thickness: 3px; 
    text-underline-offset: 6px;
  }
    
  .timeline-entry {
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .timeline-entry:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 20px;
    height: 2px;
    background-color: black;
  }
  
  .black-line {
    position: absolute;
    bottom: 100%; /* Adjust this value to connect to the bottom of the green box */
    left: 20px; /* Match this to the margin-left of your timeline entries */
    width: 2px;
    height: calc(100% - 50px); /* Adjust height to reach the "2021" div */
    background-color: black;
  }

  .border-yellow {
    border: 2px solid yellow;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;  /* for Firefox */
  }

  .button-left-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%; /* Start the gradient right after the button */
    width: 50px; /* Width of the transparent effect */
    background: linear-gradient(to left, transparent, #FAF3E0);
    pointer-events: none;
  }

  .button-right-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%; /* Start the gradient right before the button */
    width: 50px; /* Width of the transparent effect */
    background: linear-gradient(to left, #FAF3E0, transparent);
    pointer-events: none;
  }